<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <script src="static/main.js" type="application/javascript"></script>
    <link rel="stylesheet" href="static/style.css"/>
</head>
<body>
<form id="main">
</form>
<div>
    <label for="query">Query</label>
    <textarea id="query" cols="120" rows="4"></textarea>
    <button id="runquery" onclick="runQuery();">Run Query</button>
</div>
<div>
    <label for="results">Results</label>
    <textarea id="results" cols="120" rows="30"></textarea>
</div>

</body>
</html>